body {
  background: cadetblue;
}
.header {
  border: 1px solid red;
  background: chartreuse;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100px;
}
h3 {
  margin: 8px;
}